h1, h2, h3, h4, p, li {
  font-family: sans-serif;
  color: #444;
}

h1, h2, h3 {
  color: #1098ad;
}

h1 {
  /*color: rgb(146, 97, 31);*/
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

li {
  font-size: 18px;
}

/* footer p {
  font-size: 12px;
} */

/*
article header p {
  font-style: italic;
}     */

/*  id   */
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 12px;
}

/*  classes  */
.related-author {
  font-size: 16px;
  font-weight: bold;
}

/* ul {
  list-style: circle;
} */

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  /* border: 5px solid #1098ad; */
  /* border: #1098ad dashed 5px; */
  border-top: 5px #1098ad dashed;
  border-bottom: 5px #1098ad dotted;
}

/* body {
  background-color: antiquewhite;
} */

/* .first-li {
  font-weight: bold;
} */
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  color: rebeccapurple;
}

/* 未生效，因为p标签非article的第一个子标签！*/
article p:first-child {
  color: rebeccapurple;
}

/* styling links */
a {
  color: #1098ad;
}
a:link     /*  未访问过的链接  */
{
  color: #201d8c;
  /* text-decoration: none; */
}
a:visited     /*  已访问的链接  */
{
  color: #ad10a5;
}
a:hover     /*  悬停时的链接  */
{
  color: #2aae4b;
  font-weight: bold;
  text-decoration: underline dotted orangered;
}
a:active     /*  点击时的链接  */
{
  color: #cadba5;
  background-color: #444;
}











